DANMALGI_API_HOST=10.0.2.2
DANMALGI_API_PORT=50000

DANMALGI_CHAT_HOST=10.0.2.2
DANMALGI_CHAT_PORT=50002

DANMALGI_VOICE_HOST=10.0.2.2
DANMALGI_VOICE_PORT=50003

GID_SERVER_CLIENT_ID=
# Only Desktop App
GID_SERVER_CLIENT_SECRET=

# Only iOS App
GID_IOS_CLIENT_ID=